.header {
    padding-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__img {
        width: 251px;
        height: 45px;
    }
    &__text {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        &:last-child {
            margin-top: 5px;
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
        }
    }
    &__phone {
        display: block;
        margin: 0 auto;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        &:hover {
            color: $main-color;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}